<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
    <script type="text/javascript" src='/public/js/jquery-3.1.0.min.js'></script>
    <script type="text/javascript" src='/public/js/index.js'></script>
</head>
<body>
    <div class="reg">
        <h1>注册</h1>
        <ul>
            <li><label>用户名</label><input type="text" class="reg-name"></li>
            <li><label>密码</label><input type="text" class="reg-pass"></li>
        </ul>
        <div class="reg-sub">
            <span>注册</span>
        </div>
    </div>
    
</body>
</html>